

<main>
    <app-maps></app-maps>
    <h2>Crime Reports</h2>

    <div class="parent-container">
        <div class="wrapper">
            <div class="left">
                <h3 id="search-heading">Need to find a crime?</h3>
                SEARCH: <input type="text" [(ngModel)]="query" placeholder="Criminal Name">
                {{ query }} 
            </div>

            <div class="right">
                <h3>See a crime? Make a Report!</h3>

                <button id="report" routerLink="/reports/add">Report</button>
            </div>
        </div>

    </div>


    <div class="card-container">
        <app-report
          *ngFor="let r of reports | search:query"
          [report]="r"
          (delete)="onReportDelete($event)"
          class="card"
        ></app-report>
    </div>

</main>