h1, h3{
    text-align: center;
}


main{
    padding-top: 1px;
    /* margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px; */
    /* background-color: rgb(215, 231, 240); */
    background-color:whitesmoke;
}

